<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Jyotishna/IdeaProjects/HBSandbox/src/test/java/testCases">
        <classes>
            <class name="testCases.loginTestCase">
                <methods><include name="login"/>
                    <include name="DashboardList"/>
                </methods>
            </class>
            <class name="testCases.zenoopen"><methods>
                <include name="openlinks"/>
            </methods>
            </class>
            <class name="testCases.deliveryChallanTestCase.deliveryChallanAddTestCase">
                <methods>
                    <include name="getdeliveryadd"/>
                </methods>
            </class>
            <class name="testCases.deliveryChallanTestCase.deliveryChallanEditTestCase">
                <methods>
                    <include name="getdeliveryedit"/>
                </methods>
            </class>
            <class name="testCases.deliveryChallanTestCase.deliveryChallanCopyTestCase">
                <methods>
                    <include name="getdeliverycopy"/>
                </methods>
            </class>
            <class name="testCases.deliveryChallanTestCase.deliveryChallanDeleteTestCase">
                <methods>
                    <include name="getdeliverydelete"/>
                </methods>
            </class>
<!--           <class name="testCases.quoteTestcases.quoteAddTestCase">-->
<!--                <methods>-->
<!--                    <include name="getquoteadd"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="testCases.quoteTestcases.quoteEditTestCase">-->
<!--                <methods>-->
<!--                    <include name="getquoteEdit"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="testCases.quoteTestcases.quoteCopyTestCase">-->
<!--                <methods>-->
<!--                    <include name="getquoteCopy"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="testCases.quoteTestcases.quoteAcceptedTestCase">-->
<!--                <methods>-->
<!--                    <include name="getquoteAccepted"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--            <class name="testCases.quoteTestcases.quoteDeleteTestCase">-->
<!--                <methods>-->
<!--                    <include name="getquotedelete"/>-->
<!--                </methods>-->
<!--            </class>-->
        </classes></test></suite>